{% extends 'base.html' %}

{% block title %}View Data{% endblock %}

{% block content %}
<h1>Samples Data Table</h1>
<table>
    <thead>
        <tr>
            <th>Sample ID</th>
            <th>Project Name</th>
            <th>Institution</th>
            <th>Technology</th>
            <th>Storage Type</th>
            <th>Tissue Type</th>
            <th>Sample Identifier</th>
            <th>Origin</th>
            <th>Condition</th>
            <th>Replicate</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for sample in samples %}
        <tr>
            <td>{{ sample.sample_id }}</td>
            <td>{{ sample.project_name }}</td>
            <td>{{ sample.institution }}</td>
            <td>{{ sample.technology }}</td>
            <td>{{ sample.storage_type }}</td>
            <td>{{ sample.tissue_type }}</td>
            <td>{{ sample.sample_name }}</td>
            <td>{{ sample.origin }}</td>
            <td>{{ sample.condition }}</td>
            <td>{{ sample.replicate }}</td>
            <td>{{ sample.date }}</td>
            <td>{{ sample.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}