{% extends 'base.html' %}

{% block title %}Submit Sample{% endblock %}

{% block content %}
<style>
    .form-group {
        max-width: 600px; /* Adjust this value as needed */
    }
    .form-control {
        max-width: 300px; /* Adjust this value as needed */
    }
    select.form-control {
        width: 300px; /* Make sure dropdowns have the same width as text inputs */
    }
</style>

<h1>Submit Sample</h1>

{% if duplicate_message %}
    <div class="message error">{{ duplicate_message }}</div>
{% endif %}

{% if generated_name %}
    <div class="message success">Generated Name: {{ generated_name }}</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
    <div class="form-group">
        <label></label>
        <button type="submit" class="btn">Generate Sample Name</button>
    </div>
</form>
{% endblock %}